input{
    background-color: rgb(78, 78, 78);
    color: white;
    
}
form{
    padding: 30px;
    width: 400px;
    border: 8px solid rgb(44, 44, 44);
     }
.eisso{
    border: 8px solid rgb(44, 44, 44);
    width: 475px;
    padding: 10px;
}
fieldset{
    border: white;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
}
.caixa
{
    border: 1px solid rgb(44, 44, 44);
    width: 60%;
    height: 25px;

}
