.meunome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50pt;
    background-color: black;
    border-radius: 130px;
    border-width: 500px;
  
    text-align: center;
    color:white

}