.modelo1{
    width: 550px;
    background-color: #8b4513;
    padding: 20px 30px 20px 30px;
    font-size: 12px;
    font-family:verdana;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    border-radius: 25px;
    margin: 0 auto;
    align-items: center;
}
.mid{
    text-align: center 
}
h1{
    padding: 0 0 10px 0;
    border-bottom: 3px solid #000000;
    text-align: center;
}

.titulo2{
    font-size: 11px;
}
label{
      font-weight: bold;
      
      
}
.teste{
    
    display: flex;
    flex-direction: row;
    margin-left: 9%;
    display: flex;
    text-align: right;
    padding-right:10px ;
    margin-top: 10px;
    font-weight: bold;
    
    
}
div{
    margin: 0 0 20px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 4px;
  background-color: #d4d4d4;
  font-size: 16px;
  resize: none;
}

.rotulos{
    display: flex;
    width: 20%;
    padding-right:10px ;
    margin-top: 10px;
    font-weight: bold;

}

.entrada{
    
    border: none;
    color: #525252;
    height: 30px;
    line-height: 15px;
    padding: 5px 0 5px 5px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
    background-color: #f5deb3;
}
.arroba{
   
    border: none;
    color: #525252;
    height: 100px;
    line-height: 20px;
    padding: 5px 0 5px 5px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
    background-color: #f5deb3;
    
}
h3{
  color:transparent
}
#mensagem{
    height: 100px;
    padding: 5px 0 0 5px;
    width: 70%;
}

.botao {
    text-align: center;
    background-color: #000000;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #ffffff;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #ffe477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3d3d3d;
}

.botao:hover{
    color: #333;
    background-color: #ebebeb;
}
form{
    align-items: center;
}