
body{
    background-color: rgb(209, 209, 209);
}
.tabela{
    background-color: #ebebeb;
    padding-top: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    line-height: 2;
    margin:auto;
} 
td{
    border: 1px solid rgb(233, 233, 233);
}
.cor1{
    background-color: #e0e0e0;
    border-top: 2px solid #b3b3b3;
    width: 70px;
}


.cor2{
    width: 150px;
    background-color: #e1f2c3;
    border-top: 2px solid #80a048;
    
}
.cor3{
    width: 150px;
    background-color: #c6d8f1;
    border-top: 2px solid #4068a0;
    
}
.cor4{
    width: 140px;
    background-color: #dfd5ed;
    border-top: 2px solid #aa1cce;
    
}
.cor5{
    width: 140px;
    background-color: #f1dcc9;
    border-top: 2px solid #f8770e;
    
}