td, th{
    border: 1px solid rgb(85, 85, 85);
    padding: 8px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even){
    background-color: rgb(153, 204, 233);
}

th{
    background-color: black;
    color: white;
}

#estatisticas{background-color: yellow;text-align: center;

    
}