td{
    border: 1px solid rgb(196, 196, 196);
    padding: 8px;
}

th{
    border: 1px solid rgb(196, 196, 196);;
    padding: 8px;
}

table{
    border-collapse: collapse;
    width: 80%;
}

tr:nth-child(even){
    background-color: rgb(236, 236, 236);
}
td:nth-child(n+4){
    background-color: rgb(116, 38, 38);
}