@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;    
    font-family: 'Play', sans-serif;
}

body {
    background: #202024;
    color: #fff;
}

h1 {
    text-align: center;
}

#container { 
    display: block;
    width: 1500px;
    margin: 10px auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    border: none;
}

#tabelas, .TotalGeral {
    background-color: #000;
    color: #fff;
    text-align: center; 
    margin: 10px auto;
}

td, th {
    border: 1px solid #000;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.3);
}

tr:hover {
    transform: scale(1.03);
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.positivo {
    color: #fff;
    background-color: #018E42;
}

.negativo {
    background-color: #F13030;
    color: #fff;
}